{{define "base/search_form"}}

<form class="layui-form admin-search-form" id="search_form">
    <ul class="layui-form-item">
        {{range $key, $item := .Model.SearchItems}}
        <li class="layui-inline">
            <label class="layui-form-label">{{$item.Field.Title}}</label>
            <span class="layui-input-inline">{{$item.Html | HtmlUnescaped}}</span>
        </li>
        {{end}}
        <li class="layui-inline">
            <div class="layui-btn layui-btn-sm" admin-href="layui.fulltable.search();" link-type="1" id="search_button">查询</div>
        </li>
    </ul>
</form>
<script type="text/javascript">
    layui.use(['admin'],function() {
        layui.admin.global.searchFormId = "search_form"; //查询表单id
        layui.admin.renderDate('#search_form');
    });
</script>
{{end}}