{{define "home/index_index.html"}}
{{template "base/header" .}}


<div id="admin_app">
    <!-- 左侧 -->
    <div class="layout-left">
        <!--LOGO-->
        <div class="logo">
            <span class="title">example</span>
            <span class="title-short">example</span>
        </div>
        <!--LOGO end-->
        <!--左侧菜单-->
        <div class="layui-side layui-bg-black ">

            <!--分组tabs-->
            <div class="layui-tab layui-tab-brief" id="admin_menu_group_tabs">
                <ul class="layui-tab-title">
                    <li class="layui-this"><i class="layui-icon layui-icon-app"></i><span>业务</span></li>
                    <li><i class="layui-icon layui-icon-table"></i><span>数据</span></li>
                    <li><i class="layui-icon layui-icon-engine"></i><span>监控</span></li>
                    <li><i class="layui-icon layui-icon-util"></i><span>运维</span></li>
                    <li><i class="layui-icon layui-icon-set"></i><span>系统</span></li>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-side-scroll">
                            <ul class="layui-nav layui-nav-tree" lay-filter="admin-menu-tabs">
                                <li class="layui-nav-item layui-nav-itemed">
                                    <a href="javascript:;">所有商品</a>
                                    <dl class="layui-nav-child">
                                        <dd><a admin-href="/system/user/edit">用户管理</a></dd>
                                        <dd><a admin-href="/home/test/index.html">列表二</a></dd>
                                        <dd><a admin-href="/system/user/add.html" open-type="3">列表三</a></dd>
                                        <dd><a admin-href="alert('ok');" link-type="1">超链接</a></dd>
                                    </dl>
                                </li>
                                <li class="layui-nav-item">
                                    <a href="javascript:;">解决方案</a>
                                    <dl class="layui-nav-child">
                                        <dd><a admin-href="/home/index/home6.html">列表一</a></dd>
                                        <dd><a admin-href="/home/index/home7.html">列表二</a></dd>
                                        <dd>
                                            <a href="javascript:;">三级</a>
                                            <dl class="layui-nav-child">
                                                <dd><a admin-href="/home/index/home8.html">列表一11</a></dd>
                                                <dd><a admin-href="/home/index/home9.html">列表二</a></dd>
                                            </dl>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="layui-nav-item"><a admin-href="/home/index/home10.html">云市场</a></li>
                                <li class="layui-nav-item"><a admin-href="/home/index/home11.html">发布商品</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="layui-tab-item">bbb</div>
                    <div class="layui-tab-item">ccc</div>


                </div>
            </div>
        </div>
        <!--左侧菜单结束-->
    </div>
    <!-- 左侧结束 -->
    <!-- 右侧 -->
    <div class="layout-right">
        <!--右侧头部-->
        <div class="layout-header">
            <ul class="layui-nav left">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" admin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="admin_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" admin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" admin-event="serach">
                </li>
            </ul>
            <ul class="layui-nav right">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" admin-event="fullScreen" title="全屏">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><cite>admin</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a href="">密码修改</a></dd>
                        <hr>
                        <dd><a href="">退了</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!--右侧 Tabs -->
        <div class="pagetabs">
            <div class="layui-icon tabs-control layui-icon-prev" admin-event="leftPage"></div>
            <div class="layui-icon tabs-control layui-icon-next" admin-event="rightPage"></div>
            <div class="layui-icon tabs-control layui-icon-down">
                <ul class="layui-nav tabs-select">
                    <li class="layui-nav-item">
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child">
                            <dd admin-event="closeThisTabs" lay-unselect><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd admin-event="closeOtherTabs" lay-unselect><a href="javascript:;">关闭其它标签页</a>
                            </dd>
                            <dd admin-event="closeAllTabs" lay-unselect><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-filter="admin-layout-tabs" lay-unauto lay-allowClose="true">
                <!--标签栏开始-->
                <ul class="layui-tab-title" id="admin_tabsheader">
                    <li lay-id="/home/index/home.html" class="layui-this admin-no-close"><i
                                class="layui-icon layui-icon-home"></i></li>
                </ul>
                <!--标签栏结束-->
                <!--内容主体开始-->
                <div class="layui-tab-content" id="admin_main_body">
                    <div class="layui-tab-item layui-show">
                        <iframe src="/home/index/home.html" frameborder="0" class="admin-iframe"></iframe>
                    </div>
                </div>
                <!--内容主体结束-->
            </div>
        </div>
        <!--右侧 Tabs 结束 -->

    </div>
    <!--右侧结束 -->
</div>
<script type="text/javascript">


</script>
{{template "base/footer" .}}
{{end}}